.icon-Ascension_Island {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AC.svg');
}
.icon-Andorra {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AD.svg');
}
.icon-United_Arab_Emirates {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AE.svg');
}
.icon-Afghanistan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AF.svg');
}
.icon-Antigua_and_Barbuda {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AG.svg');
}
.icon-Anguilla {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AI.svg');
}
.icon-Albania {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AL.svg');
}
.icon-Armenia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AM.svg');
}
.icon-Angola {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AO.svg');
}
.icon-Antarctica {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AQ.svg');
}
.icon-Argentina {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AR.svg');
}
.icon-American_Samoa {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AS.svg');
}
.icon-Austria {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AT.svg');
}
.icon-Australia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AU.svg');
}
.icon-Aruba {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AW.svg');
}
.icon-Åland_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AX.svg');
}
.icon-Azerbaijan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/AZ.svg');
}
.icon-Bosnia_and_Herzegovina {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BA.svg');
}
.icon-Barbados {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BB.svg');
}
.icon-Bangladesh {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BD.svg');
}
.icon-Belgium {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BE.svg');
}
.icon-Burkina_Faso {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BF.svg');
}
.icon-Bulgaria {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BG.svg');
}
.icon-Bahrain {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BH.svg');
}
.icon-Burundi {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BI.svg');
}
.icon-Benin {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BJ.svg');
}
.icon-Saint_Barthélemy {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BL.svg');
}
.icon-Bermuda {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BM.svg');
}
.icon-Brunei_Darussalam {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BN.svg');
}
.icon-Bolivia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BO.svg');
}
.icon-Sint_Eustatius_and_Saba_Bonaire {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BQ.svg');
}
.icon-Brazil {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BR.svg');
}
.icon-Bahamas {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BS.svg');
}
.icon-Bhutan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BT.svg');
}
.icon-Bouvet_Island {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BV.svg');
}
.icon-Botswana {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BW.svg');
}
.icon-Belarus {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BY.svg');
}
.icon-Belize {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/BZ.svg');
}
.icon-Canada {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CA.svg');
}
.icon-Cocos_(Keeling)_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CC.svg');
}
.icon-Democratic_Republic_of_the_Congo {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CD.svg');
}
.icon-Central_African_Republic {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CF.svg');
}
.icon-Congo {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CG.svg');
}
.icon-Switzerland {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CH.svg');
}
.icon-Cote_d'Ivoire {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CI.svg');
}
.icon-Cook_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CK.svg');
}
.icon-Chile {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CL.svg');
}
.icon-Cameroon {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CM.svg');
}
.icon-China {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CN.svg');
}
.icon-Colombia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CO.svg');
}
.icon-Costa_Rica {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CR.svg');
}
.icon-Cuba {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CU.svg');
}
.icon-Cape_Verde {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CV.svg');
}
.icon-Curaçao {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CW.svg');
}
.icon-Christmas_Island {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CX.svg');
}
.icon-Cyprus {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CY.svg');
}
.icon-Czech_Republic {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/CZ.svg');
}
.icon-Germany {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/DE.svg');
}
.icon-Djibouti {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/DJ.svg');
}
.icon-Denmark {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/DK.svg');
}
.icon-Dominica {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/DM.svg');
}
.icon-Dominican_Republic {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/DO.svg');
}
.icon-Algeria {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/DZ.svg');
}
.icon-Ecuador {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/EC.svg');
}
.icon-Estonia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/EE.svg');
}
.icon-Egypt {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/EG.svg');
}
.icon-Western_Sahara {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/EH.svg');
}
.icon-Eritrea {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/ER.svg');
}
.icon-Spain {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/ES.svg');
}
.icon-Ethiopia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/ET.svg');
}
.icon-European_Union {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/EU.svg');
}
.icon-Finland {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/FI.svg');
}
.icon-Fiji {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/FJ.svg');
}
.icon-Falkland_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/FK.svg');
}
.icon-Federated_States_of_Micronesia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/FM.svg');
}
.icon-Faroe_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/FO.svg');
}
.icon-France {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/FR.svg');
}
.icon-Gabon {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GA.svg');
}
.icon-United_Kingdom {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GB.svg');
}
.icon-Grenada {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GD.svg');
}
.icon-Georgia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GE.svg');
}
.icon-French_Guiana {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GF.svg');
}
.icon-Guernsey {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GG.svg');
}
.icon-Ghana {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GH.svg');
}
.icon-Gibraltar {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GI.svg');
}
.icon-Greenland {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GL.svg');
}
.icon-Gambia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GM.svg');
}
.icon-Guinea {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GN.svg');
}
.icon-Guadeloupe {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GP.svg');
}
.icon-Equatorial_Guinea {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GQ.svg');
}
.icon-Greece {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GR.svg');
}
.icon-South_Georgia_and_the_South_Sandwich_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GS.svg');
}
.icon-Guatemala {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GT.svg');
}
.icon-Guam {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GU.svg');
}
.icon-Guinea-Bissau {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GW.svg');
}
.icon-Guyana {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/GY.svg');
}
.icon-Hong_Kong {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/HK.svg');
}
.icon-Heard_Island_and_McDonald_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/HM.svg');
}
.icon-Honduras {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/HN.svg');
}
.icon-Croatia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/HR.svg');
}
.icon-Haiti {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/HT.svg');
}
.icon-Hungary {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/HU.svg');
}
.icon-Canary_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/IC.svg');
}
.icon-Indonesia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/ID.svg');
}
.icon-Ireland {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/IE.svg');
}
.icon-Israel {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/IL.svg');
}
.icon-Isle_of_Man {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/IM.svg');
}
.icon-India {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/IN.svg');
}
.icon-British_Indian_Ocean_Territory {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/IO.svg');
}
.icon-Iraq {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/IQ.svg');
}
.icon-Iran {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/IR.svg');
}
.icon-Iceland {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/IS.svg');
}
.icon-Italy {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/IT.svg');
}
.icon-Jersey {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/JE.svg');
}
.icon-Jamaica {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/JM.svg');
}
.icon-Jordan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/JO.svg');
}
.icon-Japan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/JP.svg');
}
.icon-Kenya {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/KE.svg');
}
.icon-Kyrgyzstan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/KG.svg');
}
.icon-Cambodia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/KH.svg');
}
.icon-Kiribati {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/KI.svg');
}
.icon-Comoros {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/KM.svg');
}
.icon-Saint_Kitts_and_Nevis {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/KN.svg');
}
.icon-North_Korea {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/KP.svg');
}
.icon-South_Korea {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/KR.svg');
}
.icon-Kuwait {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/KW.svg');
}
.icon-Cayman_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/KY.svg');
}
.icon-Kazakhstan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/KZ.svg');
}
.icon-Laos {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/LA.svg');
}
.icon-Lebanon {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/LB.svg');
}
.icon-Saint_Lucia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/LC.svg');
}
.icon-Liechtenstein {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/LI.svg');
}
.icon-Sri_Lanka {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/LK.svg');
}
.icon-Liberia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/LR.svg');
}
.icon-Lesotho {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/LS.svg');
}
.icon-Lithuania {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/LT.svg');
}
.icon-Luxembourg {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/LU.svg');
}
.icon-Latvia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/LV.svg');
}
.icon-Libya {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/LY.svg');
}
.icon-Morocco {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MA.svg');
}
.icon-Monaco {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MC.svg');
}
.icon-Moldova {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MD.svg');
}
.icon-Montenegro {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/ME.svg');
}
.icon-Saint_Martin_(French_Part) {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MF.svg');
}
.icon-Madagascar {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MG.svg');
}
.icon-Marshall_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MH.svg');
}
.icon-North_Macedonia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MK.svg');
}
.icon-Mali {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/ML.svg');
}
.icon-Burma {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MM.svg');
}
.icon-Mongolia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MN.svg');
}
.icon-Macao {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MO.svg');
}
.icon-Northern_Mariana_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MP.svg');
}
.icon-Martinique {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MQ.svg');
}
.icon-Mauritania {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MR.svg');
}
.icon-Montserrat {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MS.svg');
}
.icon-Malta {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MT.svg');
}
.icon-Mauritius {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MU.svg');
}
.icon-Maldives {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MV.svg');
}
.icon-Malawi {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MW.svg');
}
.icon-Mexico {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MX.svg');
}
.icon-Malaysia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MY.svg');
}
.icon-Mozambique {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/MZ.svg');
}
.icon-Namibia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NA.svg');
}
.icon-New_Caledonia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NC.svg');
}
.icon-Niger {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NE.svg');
}
.icon-Norfolk_Island {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NF.svg');
}
.icon-Nigeria {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NG.svg');
}
.icon-Nicaragua {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NI.svg');
}
.icon-Netherlands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NL.svg');
}
.icon-Norway {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NO.svg');
}
.icon-Nepal {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NP.svg');
}
.icon-Nauru {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NR.svg');
}
.icon-Niue {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NU.svg');
}
.icon-New_Zealand {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/NZ.svg');
}
.icon-Oman {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/OM.svg');
}
.icon-Panama {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PA.svg');
}
.icon-Peru {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PE.svg');
}
.icon-French_Polynesia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PF.svg');
}
.icon-Papua_New_Guinea {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PG.svg');
}
.icon-Philippines {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PH.svg');
}
.icon-Pakistan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PK.svg');
}
.icon-Poland {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PL.svg');
}
.icon-Saint_Pierre_and_Miquelon {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PM.svg');
}
.icon-Pitcairn {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PN.svg');
}
.icon-Puerto_Rico {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PR.svg');
}
.icon-Palestine {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PS.svg');
}
.icon-Portugal {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PT.svg');
}
.icon-Palau {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PW.svg');
}
.icon-Paraguay {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/PY.svg');
}
.icon-Qatar {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/QA.svg');
}
.icon-Reunion {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/RE.svg');
}
.icon-Romania {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/RO.svg');
}
.icon-Serbia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/RS.svg');
}
.icon-Russia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/RU.svg');
}
.icon-Rwanda {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/RW.svg');
}
.icon-Saudi_Arabia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SA.svg');
}
.icon-Solomon_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SB.svg');
}
.icon-Seychelles {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SC.svg');
}
.icon-Sudan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SD.svg');
}
.icon-Sweden {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SE.svg');
}
.icon-Singapore {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SG.svg');
}
.icon-Saint_Helena {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SH.svg');
}
.icon-Slovenia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SI.svg');
}
.icon-Svalbard_and_Jan_Mayen {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SJ.svg');
}
.icon-Slovakia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SK.svg');
}
.icon-Sierra_Leone {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SL.svg');
}
.icon-San_Marino {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SM.svg');
}
.icon-Senegal {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SN.svg');
}
.icon-Somalia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SO.svg');
}
.icon-Suriname {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SR.svg');
}
.icon-South_Sudan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SS.svg');
}
.icon-Sao_Tome_and_Principe {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/ST.svg');
}
.icon-El_Salvador {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SV.svg');
}
.icon-Sint_Maarten {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SX.svg');
}
.icon-Syria {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SY.svg');
}
.icon-Swaziland {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/SZ.svg');
}
.icon-Tristan_da_Cunha {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TA.svg');
}
.icon-Turks_and_Caicos_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TC.svg');
}
.icon-Chad {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TD.svg');
}
.icon-French_Southern_Territories {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TF.svg');
}
.icon-Togo {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TG.svg');
}
.icon-Thailand {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TH.svg');
}
.icon-Tajikistan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TJ.svg');
}
.icon-Tokelau {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TK.svg');
}
.icon-Timor-Leste {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TL.svg');
}
.icon-Turkmenistan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TM.svg');
}
.icon-Tunisia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TN.svg');
}
.icon-Tonga {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TO.svg');
}
.icon-Turkey {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TR.svg');
}
.icon-Trinidad_and_Tobago {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TT.svg');
}
.icon-Tuvalu {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TV.svg');
}
.icon-Taiwan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TW.svg');
}
.icon-Tanzania {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/TZ.svg');
}
.icon-Ukraine {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/UA.svg');
}
.icon-Uganda {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/UG.svg');
}
.icon-United_States_Minor_Outlying_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/UM.svg');
}
.icon-United_States {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg');
}
.icon-Uruguay {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/UY.svg');
}
.icon-Uzbekistan {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/UZ.svg');
}
.icon-Holy_See_(Vatican_City_State) {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/VA.svg');
}
.icon-Saint_Vincent_and_the_Grenadines {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/VC.svg');
}
.icon-Venezuela {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/VE.svg');
}
.icon-British_Virgin_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/VG.svg');
}
.icon-US_Virgin_Islands {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/VI.svg');
}
.icon-Vietnam {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/VN.svg');
}
.icon-Vanuatu {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/VU.svg');
}
.icon-Wallis_and_Futuna {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/WF.svg');
}
.icon-Samoa {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/WS.svg');
}
.icon-Kosovo {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/XK.svg');
}
.icon-Yemen {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/YE.svg');
}
.icon-Mayotte {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/YT.svg');
}
.icon-South_Africa {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/ZA.svg');
}
.icon-Zambia {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/ZM.svg');
}
.icon-Zimbabwe {
    background-image: url('http://purecatamphetamine.github.io/country-flag-icons/3x2/ZW.svg');
}
